.collapse_items {
    .card {
        border: 0;
        border-bottom: 1px solid #DCDCDC;
        padding: 15px 0;
        .card-header {
            border: 0;
            background: transparent;
            h5 {
                button {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1;
                    color: $heading_color;
                    text-decoration: none;
                    padding-left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .arrows {
                        span {
                            &:first-child {
                                display: none;
                            }
                        }
                    }
                    &.collapsed {
                        .arrows {
                            span {
                                &:first-child {
                                    display: block;
                                }
                                &:last-child {
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
        .collapse {
            .card-body{
                font-weight: 400;
                font-size: 18px;
                line-height: 1.6;
                color: #6A6A6A;
            }
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}