@import 'variables';
/**
 * /*========== Start medical_latest_blog_item css ===========
 *
 * @format
 */
 .medical_blog_details_area {
	 padding: 120px 0;
 }

 .blog_list_area {
	 padding: 120px 0;
 }

.blog_list_area,
.blog_details_area {
	position: relative;
	z-index: 1;
}
.latest_blog_info {
	& > {
		:nth-child(2) {
			.category {
				background: #ff3636;
			}
		}
		:nth-child(3) {
			.category {
				background: #e7b335;
			}
		}
	}
}
.latest_blog_item {
	overflow: hidden;
	.latest_blog_img {
		display: block;
		position: relative;
		overflow: hidden;
		a {
			display: block;
		}
	}
	.category {
		position: absolute;
		right: 30px;
		bottom: 20px;
		font-size: 12px;
		line-height: 20px;
		padding: 1px 9px 2px;
		color: #fff;
		background: #36cd56;
	}
	&:hover {
		.latest_content h2 {
			color: $brand_color;
		}
	}
}
.latest_content {
	padding: 28px 20px 10px;
	.post_date {
		font-size: 14px;
		color: #777;
		margin-bottom: 13px;
		display: inline-block;
		i {
			margin-right: 5px;
		}
		&:hover {
			color: $brand_color;
		}
	}
	h2 {
		font-size: 22px;
		line-height: 1.4;
		font-weight: 600;
		color: $heading_color;
		transition: color 0.2s linear;
	}
	p {
		font-size: 15px;
		line-height: 26px;
		color: $heading_color;
		margin-bottom: 0;
	}
}
.latest_blog_style2 {
	.latest_content {
		padding-left: 0;
		padding-right: 0;
		h2 {
			font-size: 20px;
			margin-bottom: 16px;
		}
	}
}
/*========== End medical_latest_blog_item css ===========*/

/*========== Start medical_blog_list_area css ===========*/
.blog_main {
	padding-right: 8px;
}
.blog_post_item {
	margin-bottom: 60px;
	.mejs__player {
		width: 100%;
	}
	.post_media {
		position: relative;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		overflow: hidden;
		.blog_img_overlay {
			position: relative;
			z-index: 1;
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: rgba(0, 0, 0, 0.4);
				z-index: 1;
			}
		}
		img {
			max-width: 100%;
			transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
		}
		a {
			display: block;
		}
	}
	.post_date {
		position: absolute;
		left: 20px;
		top: 20px;
		border-radius: 4px;
		background-color: #fbfbfd;
		box-shadow: 0px 14px 30px 0px rgba(68, 28, 183, 0.25);
		text-align: center;
		color: $brand_color;
		padding: 11px 25px;
		font-size: 30px;
		font-weight: 700;
		z-index: 1;
		line-height: 1.1;
		span {
			font-weight: 300;
			font-size: 15px;
			display: block;
		}
	}
	.video_icon {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 1;
	}
	&:hover {
		.post_media {
			img {
				transform: scale(1.1);
			}
		}
		.media_blog_content {
			.blog_title {
				color: $brand_color;
			}
		}
	}
}
.media_blog_content {
	border: 1px solid #efeded;
	padding: 32px 40px;
	p {
		line-height: 26px;
		padding-top: 10px;
		margin-bottom: 18px;
	}
	.post_bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.post_comments {
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: $heading_color;
		transition: color 0.2s linear;
		&:hover {
			color: $brand_color;
		}
	}
}
.learn_btn_two {
	font-size: 15px;
	font-weight: 500;
	color: $heading_color;
	transition: color 0.2s linear;
	&:hover {
		color: $brand_color;
	}
}
.blog_title {
	font-size: 28px;
	line-height: 1.35;
	color: #031440;
	font-weight: 600;
	transition: color 0.2s linear;
}

.mejs__container {
	border-radius: 6px;
	background: rgb(255, 255, 255);
	width: 100% !important;
	box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
	border-left: 6px solid $brand_color;
	padding: 50px;
	.mejs__controls {
		background: transparent;
		padding-left: 60px;
		padding-right: 40px;
		height: 100%;
		align-items: center;
		.mejs__button {
			height: auto;
			button {
				background: none;
				position: relative;
				height: auto;
				line-height: 1;
				margin: 0px;
				&::before {
					content: '\f04b';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					font-size: 13px;
				}
			}
			&.mejs__volume-button {
				display: none;
				width: 0px;
			}
		}
		.mejs__time {
			padding: 0;
			height: auto;
			.mejs__currenttime,
			.mejs__duration {
				font-size: 13px;
				color: #424255;
				font-weight: 400;
				line-height: 1.3;
			}
		}
		.mejs__time-rail {
			height: auto;
			padding-top: 0;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: -15px;
			.mejs__time-total {
				margin-top: 0;
				background: #f2f0f6;
				height: 14px;
				border-radius: 0px;
				.mejs__time-current {
					background: $brand_color;
					height: 100%;
				}
				.mejs__time-handle {
					background: #e9e7f1;
					height: 100%;
					.mejs__time-handle-content {
						display: none;
					}
				}
			}
		}
		.mejs__horizontal-volume-slider {
			height: auto;
			width: 60px;
			margin-left: 45px;
		}
		.mejs__horizontal-volume-total {
			height: 8px;
			background: #e4e0ee;
			border-radius: 0px;
			top: -4px;
			.mejs__horizontal-volume-current {
				background: #05bc0e;
				border-radius: 0px;
			}
		}
	}
}
blockquote {
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
	border-left: 6px solid $brand_color;
	padding: 36px 70px 60px 30px;
	position: relative;
	margin-bottom: 60px;
	overflow: hidden;
	z-index: 1;
	&:before {
		content: '\f10d';
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		position: absolute;
		right: 30px;
		line-height: 0.3;
		bottom: 0;
		color: $brand_color;
		opacity: 0.1;
		font-size: 140px;
		transform: rotate(180deg);
		z-index: -1;
	}
	i {
		font-size: 30px;
		color: $brand_color;
		margin-bottom: 14px;
		display: inline-block;
	}
	p {
		font-size: 18px;
		line-height: 30px;
		font-style: italic;
		font-weight: 500;
		color: $heading_color;
	}
}

.blockquote_two {
	&:before {
		font-size: 150px;
		right: 0;
		bottom: 20px;
		line-height: 1.2;
	}
	p {
		font-style: normal;
	}
}

.video_icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 20px 40px 0 rgba(1, 16, 58, 0.14);
	text-align: center;
	line-height: 85px;
	font-size: 19px;
	position: relative;
	transition: all 0.3s linear;
	display: inline-block;
	color: $brand_color;
	text-shadow: 0 6px 25px rgba(84, 162, 65, 0.9);
	&::before,
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		border: 0.2px solid #fff;
		border-radius: 50%;
		opacity: 0.1;
		position: absolute;
		left: 0;
	}
	&:after {
		transform: scale(1.4);
	}
}

.pagination {
	padding-top: 35px;
	.page-numbers {
		width: 44px;
		height: 44px;
		line-height: 42px;
		border: 1px solid rgb(231, 231, 246);
		background: rgb(251, 251, 253);
		display: inline-block;
		text-align: center;
		font-size: 16px;
		color: #7b8a9e;
		border-radius: 50%;
		i {
			&::before {
				color: #7b8a9e;
			}
		}
		&.current,
		&:hover {
			background: $brand_color;
			border-color: $brand_color;
			color: #fff;
			i {
				&:before {
					color: #fff;
				}
			}
		}
		&.prev,
		&.next {
			width: 44px;
			height: 44px;
			line-height: 44px;
			border: 1px solid rgb(231, 231, 246);
			background: rgb(251, 251, 253);
			&:hover {
				background: $brand_color;
				border-color: $brand_color;
				color: #fff;
				i {
					&:before {
						color: #fff;
					}
				}
			}
		}
	}
}

.widget {
	& + .widget {
		margin-top: 55px;
	}
}
.search_form {
	position: relative;
	input {
		width: 100%;
		height: 60px;
		background: #efefef;
		border: 0px;
		border-radius: 4px;
		padding: 0px 30px;
		font-size: 15px;
		box-shadow: none;
		// @include placeholder {
		// 	color: $heading_color;
		// }
		&:focus {
			outline: none;
			box-shadow: none;
			background: #efefef;
		}
	}
	button {
		padding: 0px;
		background: transparent;
		border: 0px;
		position: absolute;
		right: 30px;
		height: 100%;
		top: 0;
	}
}
.widget_title {
	font-size: 24px;
	font-weight: 600;
	color: $heading_color;
	line-height: 1.2;
	margin-bottom: 35px;
}
.widget_recent_entries {
	ul {
		margin-bottom: 0;
		li {
			& + li {
				margin-top: 20px;
			}
		}
	}
	.recent_post_item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		img {
			margin-right: 15px;
			border-radius: 4px;
			width: 75px;
		}
		.recent_post_content {
			h5 {
				font-size: 18px;
				line-height: 1.35;
				font-weight: 600;
				color: $heading_color;
				margin-bottom: 4px;
				transition: color 0.2s linear;
			}
			.post_date {
				color: #85859c;
				font-size: 15px;
				font-weight: 400;
				&:hover {
					color: $brand_color;
				}
			}
		}
		&:hover {
			h5 {
				color: $brand_color;
			}
		}
	}
}
.widget_categories {
	ul {
		margin-bottom: 0;
		li {
			a {
				color: $heading_color;
				font-size: 15px;
				line-height: 1.4;
				&:hover {
					color: $brand_color;
				}
			}
			& + li {
				margin-top: 14px;
			}
		}
	}
}
.tagcloud {
	margin: -5px -4px;
	a {
		color: $heading_color;
		font-size: 14px;
		line-height: 40px;
		border-radius: 3px;
		background: #efefef;
		text-align: center;
		padding: 0px 20px;
		display: inline-block;
		margin: 5px 3px;
		transition: all 0.2s linear;
		&:hover {
			background: $brand_color;
			color: #fff;
		}
	}
}
/*========== End medical_blog_list_area css ===========*/

/*========== start blog_single_info css ===========*/
.blog_single_info {
	.media_blog_content {
		padding: 0px;
		border: 0px;
		p {
			padding-top: 0;
		}
		.blockquote {
			margin-bottom: 45px;
			margin-top: 45px;
		}
	}
	.post_bottom {
		padding-top: 15px;
		margin-bottom: 25px;
	}
	.post_comments {
		i {
			color: $brand_color;
			font-size: 16px;
			vertical-align: middle;
			margin-right: 4px;
		}
	}
	.widget_title {
		margin-bottom: 40px;
	}
}
.ddoc_theme_btn {
	border: 0;
	padding: 13px 36px;
	cursor: pointer;
	background: transparent;
	border: 1px solid $brand_color;
	color: $brand_color;
	font-size: 16px;
	line-height: 28px;
	border-radius: 4px;
	font-weight: 500;
	transition: all 0.2s;
	&:hover {
		background: $brand_color;
		color: #fff;
		box-shadow: 0px 14px 30px 0px rgba(183, 157, 136, 0.3);
	}
}
.social_icon {
	font-size: 16px;
	color: #313131;
	ul {
		display: inline-block;
		margin-bottom: 0px;
		li {
			display: inline-block;
			margin-left: 20px;
			a {
				font-size: 14px;
			}
			&:nth-child(1) {
				a {
					color: #4085cb;
				}
			}
			&:nth-child(2) {
				a {
					color: #26d0fe;
				}
			}
			&:nth-child(3) {
				a {
					color: #ec1313;
				}
			}
			&:nth-child(4) {
				a {
					color: #0077b5;
				}
			}
		}
	}
}
/*========== End blog_single_info css ===========*/

/*========== Start comment_box css ===========*/
.blog_comment_inner {
	margin-top: 74px;
}
.comment_box {
	margin-bottom: 0;
	.comment {
		background: #f9f9f9;
		padding: 30px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	.comments_item {
		display: flex;
		flex-wrap: wrap;
		.comments_author_img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			margin-right: 30px;
			overflow: hidden;
			img {
				max-width: 100%;
			}
		} 
		.content {
			position: relative;
			flex: 1;
			h4 {
				font-size: 18px;
				font-weight: 600;
				color: $heading_color;
				margin-bottom: 5px;
			}
			.comment-date {
				font-size: 14px;
				color: #85859c;
			}
			p {
				font-size: 15px;
				line-height: 26px;
				color: $heading_color;
				padding-top: 10px;
			}
			.comment_reply {
				font-size: 13px;
				text-transform: uppercase;
				color: $heading_color;
				letter-spacing: 1.3px;
				position: absolute;
				right: 0;
				top: 0;
				&:hover {
					color: $brand_color;
				}
			}
		}
	}
	.reply_comment {
		margin-left: 100px;
		margin-top: 17px;
		.comment {
			padding: 0px;
		}
		.comments_item {
			border-top: 1px solid #ebebeb;
			padding-top: 35px;
		}
	}
}

.comment_form {
	.form-group {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		input {
			border-radius: 3px;
			border: 1px solid #e5e5e5;
			height: 60px;
			line-height: 60px;
			font-size: 15px;
			color: $heading_color;
			padding-left: 30px;
			box-shadow: none;
			transition: all 0.2s linear;
			// @include placeholder {
			// 	color: #9ca3b9;
			// }
			&:focus {
				border-color: $brand_color;
				box-shadow: none;
			}
		}
		textarea {
			height: 180px;
			padding-left: 30px;
			padding-top: 12px;
			border: 1px solid #e5e5e5;
			// @include placeholder {
			// 	color: #9ca3b9;
			// }
			&:focus {
				border-color: $brand_color;
				box-shadow: none;
			}
		}
	}
	.medical_theme_btn {
		border: 0px;
		padding: 11px 23px;
	}
}
/*========== End comment_box css ===========*/

/*========== Start contact_info_item css ===========*/
.contact_info {
	padding-right: 80px;
}
.contact_title {
	font-size: 20px;
	color: #677789;
	font-weight: 600;
}
.contact_info_item {
	padding-bottom: 25px;
	&:not(:first-child) {
		border-top: 1px solid #eeebf6;
		padding-top: 35px;
	}
	p {
		line-height: 30px;
		font-size: 18px;
		color: $heading_color;
		margin-bottom: 0;
		a {
			color: $heading_color;
			&:hover {
				color: $brand_color;
			}
		}
	}
	.map {
		font-size: 16px;
		font-weight: 500;
		text-decoration: underline;
		line-height: 42px;
		fill: #2579ff;
		color: #2579ff;
		background-color: #61ce7000;
		border-radius: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

.contact_form {
	.ddoc_theme_btn {
		padding: 11px 35px;
		background: $brand_color;
		color: #fff;
	}
}

.mapBox {
	height: 460px;
}

.contact_address_item {
	margin-top: 40px;
	h4 {
		color: #0e1133;
		font-size: 28px;
		font-weight: 600;
		margin-top: 30px;
	}
	.br {
		width: 50px;
		height: 1px;
		background: $brand_color;
		margin-bottom: 25px;
	}
	a {
		margin-bottom: 8px;
		display: inline-block;
		&:hover {
			color: $brand_color;
		}
	}
}
/*========== End contact_info_item css ===========*/
