.blog_aria {
    padding: 120px 0;
}

.blog_post_aria {
    margin-top: 45px;
    .col-lg-4 {
        &:nth-child(2) {
            .single_blog .blog_top .category {
                color: #B880FF;
            }
        }
        &:nth-child(3) {
            .single_blog .blog_top .category {
                color: #9FD14A;
            }
        }
    }
    .single_blog {
        .blog_top {
            position: relative;
            .category {
                font-weight: 700;
                font-size: 13px;
                display: block;
                position: absolute;
                background: $white;
                color: $brand_color;
                top: 30px;
                left: 25px;
                padding: 4px 20px;
                border-radius: 5px;
            }
        }
        .blog_content {
            padding-right: 50px;
            margin-top: 25px;
            h3 a {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #141C2A;
                &:hover {
                    color: $brand_color;
                }
            }
            .blog_bottom {
                display: flex;
                margin-top: 10px;
                p {
                    margin-bottom: 0;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 160%;
                    color: #7C789D;
                    &.date {
                        margin-left: 55px;
                    }
                    &.author {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            background: #C4C4C4;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            top: 10px;
                            right: -30px;
                        }
                    }
                    a {
                        color: #7C789D;
                        &:hover {
                            color: $brand_color;
                        }
                    }
                }
            }
        }
    }
}