.breadcrumbs_aria {
    padding-top: 215px;
    padding-bottom: 150px;
    text-align: center;
    color: $white;
    background-image: url(../img/breadcrumbs_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h2 {
        font-weight: 800;
        font-size: 48px;
        line-height: 1.3;
    }
}