/** @format */

.circular_progress_aria {
	padding-top: 50px;
}

.circular_progress {
	padding: 0;
	grid-gap: 43px;
	.box {
		h2 {
			font-weight: 700;
			font-size: 18px;
			color: #3b3664;
		}
		.chart {
			font-weight: 800;
			font-size: 18px;
			color: #aa46bd;
			line-height: 130px;
			height: 150px;
		}
		.chart2 {
			font-weight: 800;
			font-size: 18px;
			color: #f37514;
			line-height: 130px;
			height: 150px;
		}
		.chart3 {
			font-weight: 800;
			font-size: 18px;
			color: #0daa5e;
			line-height: 130px;
			height: 150px;
		}
	}
}

@media (min-width: 900px) {
	.circular_progress {
		grid-template-columns: repeat(3, 123px);
	}
}

// Line Progress Bar
.line_progress_bar {
	padding-right: 95px;
	margin-top: 30px;
	.single_items {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
		.progress_content {
			display: flex;
			justify-content: space-between;
			h5,
			span {
				font-weight: 700;
				font-size: 13px;
				color: $heading_color;
			}
		}
		.progress {
			height: 9px;
			background: #f4f6fd;
			border-radius: 100px;
			.progress-bar {
				background: linear-gradient(90deg, #fe4c1c 0%, #fe4c1c 100%);
				border-radius: 1000px;
				width: 0;
			}
		}
		&:nth-child(2) {
			.progress-bar {
				background: linear-gradient(137.52deg, #52affb 13.01%, #3a45ed 75.25%);
			}
		}
		&:nth-child(3) {
			.progress-bar {
				background: linear-gradient(188.71deg, #7724ff 30.72%, #bc79ff 93.36%);
			}
		}
	}
}
// Line Progress Bar
