.client_aria {
    .logo_slider {
        img {
            padding: 20px 25px;
        }
    }
}

// Home Two 
.client_aria.home_2 {
    padding-top: 100px;
    position: relative;
    .one {
        right: 0;
        top: -100px;
    }
}