.counter_aria {
    padding-top: 90px;
    position: relative;
    z-index: 2;
    .items {
        background: linear-gradient(287.78deg, #FF504F 3.17%, #FF5F49 100%);
        border-radius: 10px;
        padding-top: 60px;
        padding-bottom: 50px;
        color: $white
    }
    .item {
        .counter {
            font-weight: 700;
            font-size: 36px;
            line-height: 34px;
            letter-spacing: -0.8px;
        }
        p {
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            line-height: 1.6;
            margin-top: 15px;
            margin-bottom: 0;
        }
        i {
            font-size: 25px;
            padding-left: 5px;
        }
    }
}

// Home Two

.counter_aria.home_3 {
    .items {
        background: linear-gradient(105.4deg, #3F57FF 11.77%, #17117F 89.85%);
    }
}

// About 
.counter_aria.about {
    padding-top: 0;
    margin-top: -100px;
}

// Mini Counter 
.counter_aria_mini {
    .items {
        .item {
            span {
                font-weight: 800;
                font-size: 30px;
                line-height: 41px;
                color: #885FFF;
            }
            i {
                color: #885FFF;
                font-size: 22px;
            }
            p {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: $heading_color;
                margin-top: 8px;
            }
        }
        .row {
            div {
                &:nth-child(2) {
                    .item {
                        span {
                            color:#FF5F8F;
                        }
                        i {
                            color:#FF5F8F;
                        }
                    }
                }
                &:nth-child(3) {
                    .item {
                        span {
                            color: #6FD673;
                        }
                        i {
                            color: #6FD673;
                        }
                    }
                }
            }
        }
    }
}