.faq_aria {
    padding-top: 120px;
}

.faq_contents {
    margin-top: 50px;
    .section_img img {
        margin-left: 100px;
    }
    .collapse_items {
        .accordion-item {
            padding: 15px 0;
            h2 {
                button {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1;
                    color: #3b3664;
                    text-decoration: none;
                    padding-left: 0;
                    background: transparent;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .accordion-button:not(.collapsed)::after {
                    filter: grayscale(1);
                }
            }
            .accordion-body {
                padding-left: 0;
            }
        }
    }
}
