.footer_aria {
    padding-top: 110px;
    padding-bottom: 20px;
    background: #0C1463;
    color: $white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .site_info {
        a {
            color: $white;
                &:hover {
                    color: $brand_color;
                }
        }
        .content {
            margin-top: 30px;
            padding-right: 60px;
            p {
                color: $white;
                line-height: 30px;
            }
        }
        .social_icons {
            margin-top: 25px;
            a {
                color:#E1E1E1;
                margin: 0 10px;
                &:first-child {
                    margin-left: 0;
                }
                &:hover {
                    color: $brand_color;
                }
            }
        }
        h4 {
            font-weight: 800;
            font-size: 22px;
            line-height: 36px;
        }
        ul {
            margin-top: 25px;
            li {
                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }
    }
    .footer_bottom {
        padding-top: 35px;
        border-top: 1px solid #484D74;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #B8B8B8;
        margin-top: 90px;
        i {
            color: #FF4D6D;
        }
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../img/footer/bg_ovarlay.png);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .shape {
        .one {
            top: 50px;
            left: 5px;
        }
        .two {
            bottom: 40px;
            right: 60px;
        }
    }
}

.footer_aria.home_2 {
    &::after {
        display: none;
    }
}