.hero_aria {
        background: linear-gradient(287.78deg, #45A6FF 3.17%, #7CC0FF 100%);
        padding-bottom: 410px;
        padding-top: 90px;
        position: relative;
        z-index: 2;
        &::after {
            position: absolute;
            content: "";
            background-image: url(
                ../img/hero_bg.png);
            width: 100%;
            height: 59%;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .hero_content {
            color: $white;
            .sub_title {
                color: $white;
            }
            h1 {
                font-weight: 800;
                font-size: 48px;
                line-height: 62px;
                margin-top: 10px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                margin-top: 20px;
            }
            .button_aria {
                margin-top: 40px;
                display: flex;
                align-items: center;
            }
        }
        .section_img {
            img {
                margin-top: 65px;
            }
        }
}

// Home Two

.hero_aria.home_2 {
    background: transparent;
    padding-bottom: 165px;
    &::after {
        background-image: url(../img/hero_bg_2.png);
        height: 100%;
        top: 0;
        background-position: top;
    }
}

// Home Three

.hero_aria.home_3 {
    padding-bottom: 0;
    background: transparent;
    background-image: url(../img/hero_bg_3.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    &::after {
        background-image: url(../img/hero_bg_3_obarlay.png);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background-position: top right;
        background-size: auto;
    }
    .hero_content {
        color: $heading_color;
        .sub_title {
            color: $heading_color;
        }
        p {
            color: #676583;
        }
    }
    .one {
        left: 50px;
        top: 335px;
    }
    .two {
        left: 270px;
        bottom: -30px;
    }
    .three {
        left: 830px;
        top: 190px;
    }
}

// Home Four
.hero_aria.home_4 {
    background-image: url(../img/hero_bg_4_2.png);
    padding-bottom: 50px;
    padding-top: 60px;
    background-size: cover;
    &::after {
        // background-image: url(../img/hero_bg_4.png);
        background-image: none;
        top: 0;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: bottom right;
        width: 100%;
        height: 100%;
    }
    .hero_content  {
        .button_aria {
            .call_btn {
                font-weight: 600;
                font-size: 14px;
                color: $white;
                margin-left: 20px;
                span {
                    font-weight: 400;
                    color: $brand_color;
                }
            }
        }
    }
}