/** @format */

.navbar {
	padding: 0;
	transition: all 0.3s;
	.navbar-nav {
		margin-right: auto;
		margin-left: auto;
	}
	ul {
		li {
			margin: 0 20px;
			padding: 28px 0px;
			cursor: pointer;
			a {
				color: $white;
				font-weight: 600;
				font-size: 16px;
				padding: 0px !important;
				display: inline-block;
				&.dropdown-item {
					color: $heading_color;
					padding-left: 0;
				}
			}
			.dropdown-menu {
				border: 0px;
				@media (min-width: 992px) {
					display: block;
					opacity: 0;
					pointer-events: none;
					top: 100%;
					transform: translateY(20px);
					left: -15px;
					transition: all 0.4s;
				}
				li {
					padding: 5px 0px;
				}
			}
			&:hover,
			&.active {
				> a,
				i {
					color: $brand_color;
				}
			}
		}
	}
	.nav-item.dropdown {
		position: relative;
	}
	.nav-item.dropdown:hover::after {
		color: $brand_color;
	}
	.mobile_dropdown_icon {
		padding-left: 5px;
		font-size: 12px;
		color: #fff;
	}
	.nav-item.dropdown.active:after {
		color: $brand_color;
	}
	.nav-item.dropdown:hover .dropdown-menu {
		@media (min-width: 992px) {
			transform: translateY(0);
			display: block;
			opacity: 1;
			pointer-events: all;
		}
	}
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link {
		color: $brand_color;
	}
	.dropdown-item.active,
	.dropdown-item:active {
		background: transparent;
		color: $brand_color;
	}
	.nav-link:focus,
	.nav-link:hover {
		color: $brand_color;
	}
	.dropdown-item:focus,
	.dropdown-item:hover {
		background: transparent;
	}
	.dropdown-toggle::after {
		display: none;
	}
	.navbar-brand {
		img {
			&:last-child {
				display: none;
			}
		}
	}
}

.search {
	position: relative;
	top: 2px;
	padding-top: 26px;
	padding-bottom: 26px;
	&.d-lg-block {
		display: none;
	}
	a {
		color: #fff;
	}
	&.open {
		.search-form {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}
.search-form {
	position: absolute;
	width: 370px;
	box-shadow: 0px 6px 20px 0px rgba(1, 6, 33, 0.08),
		-3px 0px 0px 0px rgba(238, 144, 81, 0.004);
	top: 100%;
	left: auto;
	right: -10px;
	z-index: 20;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s linear;
	border-left: 3px solid #333;

	.form-control {
		font-size: 16px;
		font-weight: 400;
		border: 0px;
		padding: 0px;
		border-radius: 0px;
		box-shadow: none;
		padding-left: 30px;
		height: 60px;
		@include placeholder {
			color: #a6a6a6;
		}
	}

	button {
		border: 0px;
		background: #fff;
		margin-left: -1px;
		padding-right: 20px;
		color: $heading_color;
	}
}

.navbar.home_3 {
	.nav-item.dropdown:after {
		color: $heading_color;
	}
	.nav-item.dropdown:hover::after {
		color: $brand_color;
	}
	.nav-item.dropdown.active:after {
		color: $brand_color;
	}
	.search-btn {
		i {
			color: $heading_color;
		}
	}
	ul {
		li {
			a {
				color: $heading_color;
				&:hover {
					color: $brand_color;
				}
			}
			i {
				color: $heading_color;
			}
			&.active {
				i {
					color: $brand_color;
				}
			}
			&:hover {
				i {
					color: $brand_color;
				}
			}
		}
	}
}

// Mobile button
// .header_aria .navbar .navbar-toggler {
//     border: 0;
//     box-shadow: none;
//     padding: 0;
// }
// .header_aria .navbar .navbar-toggler span.navbar-toggler-icon {
//     background: transparent;
//     position: relative;
// }
// .navbar-toggler-icon:after {
//     position: absolute;
//     content: "\f0c9";
//     width: 100%;
//     height: 100%;
//     font-family: 'FontAwesome';
//     color: #fff;
//     font-size: 25px;
//     left: 0;
// }
// .navbar.home_3 .navbar-toggler-icon:after {
//     color: $heading_color;
// }
.header_aria .navbar .navbar-toggler {
	border: 0;
	box-shadow: none;
	padding: 0;
}
.header_aria .navbar .navbar-toggler span.navbar-toggler-icon {
	background: $white;
	position: relative;
	width: 20px;
	height: 1px;
}
.navbar-toggler-icon::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 1px;
	background: $white;
	left: 0;
	top: -8px;
}
.navbar-toggler-icon:after {
	position: absolute;
	content: '';
	width: 20px;
	height: 1px;
	background: $white;
	left: 0;
	top: 8px;
}
.navbar.home_3 .navbar-toggler-icon:after {
	color: $heading_color;
}
// Mobile button

// Nav Bar Fixed
.header_aria.navbar_fixed .navbar .navbar-toggler-icon:after {
	color: $heading_color;
}
.header_aria.navbar_fixed .nav-item.dropdown:after {
	color: $heading_color;
}
.header_aria.navbar_fixed .nav-item.dropdown.active:after {
	color: $brand_color;
}
.header_aria.navbar_fixed .nav-item.dropdown:hover::after {
	color: $brand_color;
}
.header_aria.navbar_fixed {
	.navbar {
		// .navbar-nav .nav-link.active,
		// .navbar-nav .show > .nav-link {
		// 	color: $brand_color;
		// }
		.mobile_dropdown_icon {
			color: $heading_color;
		}
		&.home_3 {
			.btn img {
				filter: none;
			}
		}
		background: $white;
		box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.1);
		ul {
			li {
				a {
					color: $heading_color;
					&:hover {
						color: $brand_color;
					}
					&.active {
						color: $brand_color;
					}
				}
				&.active {
					i {
						color: $brand_color;
					}
				}
				&:hover i {
					color: $brand_color;
				}
			}
		}
		.btn img {
			filter: invert(1);
		}
		.navbar-brand {
			img {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: block;
				}
			}
		}
	}
	.search a {
		color: $heading_color;
	}
}

@media (min-width: 992px) {
	.mob_search {
		display: none;
	}
}
@media (max-width: 991px) {
	.header_aria .navbar .navbar-collapse {
		background: $white;
		margin-top: 10px;
	}
	.navbar-collapse ul li a {
		color: $heading_color;
	}
	.mob_search {
		margin-left: auto;
		padding-right: 15px;
	}
	.nor_search {
		display: none;
	}
	.navbar .nav-item.dropdown:after {
		color: $heading_color;
	}
	.header_aria.navbar_fixed .navbar .navbar-toggler span.navbar-toggler-icon,
	.header_aria.navbar_fixed .navbar-toggler-icon::before,
	.header_aria.navbar_fixed .navbar-toggler-icon::after {
		background: $heading_color;
	}
	.navbar.home_3 .navbar-toggler span.navbar-toggler-icon,
	.navbar.home_3 .navbar-toggler span.navbar-toggler-icon::before,
	.navbar.home_3 .navbar-toggler span.navbar-toggler-icon::after {
		background: $heading_color;
	}
}

@media (max-width: 424px) {
	.search-form {
		width: 300px;
	}
}
