/** @format */

.price_aria {
	background: #f9f8ff;
	padding: 120px 0;
	.min_btn::after {
		background: $brand_color !important;
	}
}

.priceing_plan {
	margin-top: 45px;
	.single_item {
		background: $white;
		padding: 0 35px;
		padding-top: 40px;
		padding-bottom: 65px;
		max-width: 390px;
		filter: drop-shadow(0px 4px 40px rgba(137, 129, 181, 0.1));
		&:hover {
			box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
		}
		.price_top {
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 10px;
			margin-bottom: 25px;
			h5 {
				color: $heading_color;
				font-weight: 700;
				font-size: 24px;
				line-height: 33px;
				margin-bottom: 0;
			}
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 1.6;
				color: #7c789d;
			}
			img {
				margin-top: 10px;
			}
			.price {
				color: $brand_color;
				margin-top: 20px;
				.price_before {
					font-weight: 800;
					font-size: 18px;
					line-height: 25px;
					position: relative;
					bottom: 20px;
				}
				.amount {
					font-weight: 800;
					font-size: 48px;
					line-height: 65px;
				}
				.period {
					font-weight: 400;
					font-size: 15px;
					line-height: 1.6;
					color: #7c789d;
				}
			}
		}
		.price_bottom {
			ul {
				margin-bottom: 55px;
				li {
					font-weight: 400;
					font-size: 15px;
					line-height: 1.6;
					color: #7c789d;
					margin: 15px 0;
				}
			}
		}
	}
	.min_btn {
		background: transparent;
		border: 1px solid $brand_color;
		color: $brand_color;
		&:hover {
			background: $brand_color;
			color: $white;
		}
	}
}

// Home Two

.price_aria.home_2 {
	.priceing_plan {
		margin-top: 70px;
	}
	.single_item {
		position: relative;
		margin: 0 5px;
		transition: 0.5s;
		&.popular_item {
			padding-top: 80px;
			padding-bottom: 80px;
			margin-top: -30px;
		}
		&:hover {
			box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
		}
	}
	.price_top {
		.popular {
			width: 112px;
			height: 24px;
			background: $brand_color;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			font-weight: 700;
			font-size: 9px;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 40px;
			left: -5px;
		}
		.price {
			padding-bottom: 20px;
		}
	}
	.price_bottom {
		h4 {
			color: $heading_color;
			font-weight: 700;
			font-size: 22px;
			line-height: 30px;
			margin: 30px 0;
		}
		ul {
			padding-left: 25px;
			li {
				position: relative;
				&::before {
					color: #7ed321;
					position: absolute;
					content: '\f00c';
					width: 20px;
					height: 20px;
					font-family: 'FontAwesome';
					left: -25px;
				}
			}
		}
	}
}

.price_aria.home_3 {
	margin-top: -80px;
	padding-top: 200px;
}

// Priceing Plan Page
.price_aria.home_2.pircing {
	background: rgba(249, 248, 255, 0.8);
	padding: 120px 0;
	.tab_style {
		margin-top: 10px;
		.nav-tabs {
			background: $brand_color;
			width: fit-content;
			margin: 0 auto;
			border-radius: 100px;
			padding: 2px 2px;
			li {
				margin-right: 0;
				.nav-link {
					padding: 5px 30px;
					min-width: 0;
					background: transparent;
					border-radius: 30px;
					h6 {
						color: $white;
					}
					&.active {
						background: $white !important;
						box-shadow: none;
						h6 {
							color: $heading_color;
						}
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
	.tab-content {
		margin-top: 90px;
	}
}

// Priceing Plan Page Section Two
.price_aria.pircing {
	background: #f2f0ff;
	padding-bottom: 300px;
	.tab_style {
		margin-top: 10px;
		.nav-tabs {
			background: $brand_color;
			width: fit-content;
			margin: 0 auto;
			border-radius: 100px;
			padding: 2px 2px;
			li {
				margin-right: 0;
				a {
					padding: 10px 30px;
					min-width: 0;
					background: transparent;
					border-radius: 30px;
					display: inline-block;
					h6 {
						color: $white;
						margin: 0;
					}
					&.active {
						background: $white !important;
						box-shadow: none;
						h6 {
							color: $heading_color;
						}
						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}

//Lead Generation Page

.price_aria.pircing.l_gen {
	position: relative;
	background: transparent;
	padding-bottom: 140px;
	.one {
		top: 100px;
		left: 0;
		width: 9%;
	}
}

// Toggle Btn
.price_aria.pircing.button_mod {
	.tab_style .nav-tabs {
		padding: 0px 4px;
		li a {
			padding: 10px;
			top: 3px;
			position: relative;
		}
	}
}
