@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .3s;
}

button:focus {
    outline:0;
}

.pt_135 {
    padding-top: 135px !important;
}

// Custom Container
.custom_container {
    width: 1110px;
}

// Color Title 
.color_title {
    color: $brand_color;
}

// Sub Title
.sub_title {
    color: $brand_color;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

// Section Title
.section_title {
    h2 {
        font-weight: 700;
        font-size: 36px;
        color: $heading_color;
        margin-top: 15px;
        line-height: 43px;
        margin-bottom: 27px;
    }
}

// Button
// .min_btn {
//     color: $white;
//     padding: 15px 43px;
//     background: $brand_color;
//     font-weight: 800;
//     font-size: 16px;
//     line-height: 22px;
//     border-radius: 50px;
//     &:hover {
//         color: $white;
//         background-color: $heading_color;
//     }
//     &.two {
//         background: #A26CE1;
//         &:hover {
//             background: $brand_color;
//         }
//     }
// }
.min_btn {
    color: $white;
    padding: 15px 43px;
    background: $brand_color;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    border-radius: 50px;
    position: relative;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
    &:hover {
        color: $white;
    }
    &:hover::after {
        transform: scaleX(1) !important;
        transform-origin: left !important;
    }
    &::after {
        content: '';
        display: block;
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $heading_color !important;
        border-radius: 50px;
        transform: scaleX(0) !important;
        transform-origin: right;
        transition: all 0.7s linear;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-property: transform;
        z-index: -1;
    }
    &.btn_two {
            background: #A26CE1;
            &:hover {
                background: $brand_color;
            }
        }
}

.play_btn {
    color: $brand_color;
    width: 58px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 20px 30px rgba(254, 76, 28, 0.15);
    border-radius: 50px;
    margin-left: 30px;
    &:hover {
        color: $white;
        background: $brand_color;
        border-color: $brand_color;
    }
}

.btn_2 {
    font-weight: 700;
    font-size: 16px;
    color: #46436E;
    line-height: 1;
    &:hover {
        color: $brand_color;
    }
}

.shape img {
    position: absolute;
}

// Map
.map {
    margin-bottom: -10px;
}