.seo_aria {
    padding-top: 165px; 
    padding-bottom: 85px;
    .content {
        padding-left: 70px;
    }
}

.content {
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #7C789D;
    }
}

// Home Two

.seo_aria.home_2 {
    padding-top: 100px;
    padding-bottom: 120px;
    &.extra {
        position: relative;
        .section_img img {
            margin-left: 50px;
        }
        .one {
            left: 0;
            top: 105px;
        }
    }
}

// Home Three 
.seo_aria.home_3 {
    padding-top: 120px;
}

// Style Two
.seo_aria.home_3.style_two {
    background-image: url(../img/seo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 120px;
    position: relative;
    .content {
        padding-left: 0;
    }
    .section_img {
        margin-left: 50px;
        position: relative;
        .one {
            left: -35px;
            top: 55%;
        }
        .two {
            top: 45%;
            left: 20px;
        }
        .three {
            right: -25px;
            top: 60%;
        }
        .four {
            right: -90px;
            top: 35%;
        }
        .five {
            top: 0;
            right: 200px;
        }
    }
    .one {
        left: 0;
        top: 255px;
    }
    .two {
        bottom: 175px;
        left: 225px;
    }
    .three {
        right: 150px;
        top: 160px;
    }
    .four {
        right: 50px;
        bottom: 135px;
    }
}

// Home Four
.seo_aria.home_3.style_two.home_4 {
    padding-bottom: 265px;
    .section_img  {
        padding-left: 0;
    }
    .content {
        padding-left: 70px;
    }

    .one {
        left: 165px;
        top: 255px;
    }
}

// About 
.seo_aria.home_2.about {
    .content {
        .section_title {
            margin-bottom: 45px;
        }
    }
}

// Service 
.seo_aria.home_2.about.service {
    .content {
        padding-left: 0;
    }
}

.seo_aria.home_3.style_two.service_2 {
    padding-bottom: 30px;
    background: transparent;
    .section_img img {
        margin-top: 50px;
    }
}

// Process
.seo_aria.home_3.style_two.service_2.process {
    padding-top: 115px;
}

// Email Marketing Page 
.seo_aria.home_2.about.service.email_marketing {
    background: #F9F8FF;
}

.seo_aria.home_2.about.style_two {
    padding-top: 0;
    background: #F9F8FF;
    position: relative;
    z-index: 2;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        background-image: url(../img/email_marketing_bg.png);
        background-repeat: no-repeat;
        left: 0;
        height: 50%;
        z-index: -1;
        bottom: -148px;
    }
    .section_img img {
        margin-left: -35px;
    }
    .content {
        padding-left: 100px;
        .section_title {
            margin-bottom: 0;
            .service_list {
                margin-top: 40px;
                h5 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1.2;
                    color: #3B3664;
                    span {
                        color: $brand_color;
                        margin-right: 15px;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.6;
                    color: #7C789D;
                    margin-left: 45px;
                }
            }
        }
    }
}

// Google and Facebook Ads
.seo_aria.home_2.about.style_two.g_f_ads {
    &::after {
        display: none;
    }
    background: transparent;
    padding-top:90px;
    padding-bottom: 120px;
    .section_img img {
        margin-left: 0;
    }
    .content {
        padding-left: 0;
        .section_title {
            h2  {
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 0;
            }
            .service_list_aria{
                .service_list {
                    margin-top: 30px;
                    h5 {
                        span {
                            display: block;
                            margin-bottom: 15px;
                        }
                    }
                    p {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

// Youtube Marketing
.seo_aria.home_3.style_two.service_2.y_marketing {
    background-image: url(../img/seo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

//Lead Generation Page
.seo_aria.home_2.about.service.l_gen {
    .content {
        .section_title {
            margin-bottom: 5px;
        }
        .counter_aria_mini {
            margin-bottom: 30px;
        }
    }
}

.seo_aria.home_2.about.style_two.g_f_ads.l_gen {
    padding-top: 0;
    padding-bottom: 60px;
    .section_img img {
        margin-left: -80px;
    }
    .content {
        padding-left: 100px;
    }
}
