/** @format */

.service_aria {
	padding-top: 195px;
	padding-bottom: 280px;
	background-image: url(../img/service_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	margin-top: -75px;
}

.tab_style {
	margin-top: 45px;
	.nav-tabs {
		border: 0;
		li {
			margin-right: 20px;
			.nav-link {
				background: #fff9ed;
				padding: 30px 24px;
				display: inline-block;
				padding-bottom: 15px;
				border-radius: 10px;
				min-width: 200px;
				position: relative;
				span {
					font-weight: 700;
					font-size: 16px;
					line-height: 34px;
					color: $heading_color;
					margin-top: 12px;
					display: block;
				}
				&:hover {
					box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
					background: $brand_color !important;
					span {
						color: $white;
					}
				}
				&.active {
					box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
					background: $brand_color !important;
					span {
						color: $white;
					}
					&::after {
						content: '';
						width: 25px;
						height: 12px;
						background: $brand_color;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: -11px;
						clip-path: polygon(100% 0, 0 0, 50% 100%);
					}
				}
			}

			&:nth-child(2) {
				.nav-link  {
					background: #fff0f5;
				}
			}
			&:nth-child(3) {
				.nav-link  {
					background: #f3f0fd;
				}
			}
			&:nth-child(4) {
				.nav-link  {
					background: #fff0ec;
				}
			}
			&:nth-child(5) {
				margin-right: 0;
				.nav-link  {
					background: #f4fffb;
				}
			}
		}
	}
	.tab-content {
		.min_tab_content {
			background: #ffffff;
			border-radius: 10px;
			padding: 50px 0;
			margin-top: 40px;
			.content {
				p {
					margin-bottom: 40px;
				}
			}
		}
	}
}

// Home Two
.service_aria.home_2 {
	position: relative;
	margin-top: -110px;
	padding-top: 225px;
	padding-bottom: 120px;
	background-image: none;
	background: #f9f8ff;
	.one {
		left: 0;
		top: 325px;
	}
	.two {
		right: 0;
		bottom: 0;
	}
}

// Home Four
.case_studies_two {
	padding-top: 25px;
	padding-bottom: 130px;
	position: relative;
	z-index: 2;
	&::after {
		position: absolute;
		content: '';
		height: 620px;
		width: 100%;
		background-image: url(../img/case_studies_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		z-index: -1;
	}
	.tab_style {
		margin-top: 0;
		.nav-tabs {
			li {
				.nav-link {
					min-width: inherit;
					background: transparent;
					padding: 0px;
					border: 0px;
					&.active {
						background: transparent !important;
						box-shadow: none;
						span {
							color: $brand_color;
						}
						&::after {
							display: none;
						}
					}
					&:hover {
						background: transparent !important;
						box-shadow: none;
						span {
							color: $brand_color !important;
						}
					}
				}
			}
		}
		.tab-content {
			.min_tab_content {
				width: 955px;
				margin: 0 auto;
				padding: 0;
				padding-top: 30px;
				background: transparent;
				.single_post_item {
					width: 461px;
					height: 380px;
					background-image: url(../img/case_studies/case_studies_10.png);
					filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.15));
					display: flex;
					align-items: flex-end;
					padding-left: 30px;
					padding-bottom: 30px;
					margin-bottom: -10px;
					a {
						color: $white;
						font-weight: 800;
						font-size: 22px;
					}
				}
				.row {
					div {
						&:nth-child(2) {
							.single_post_item {
								background-image: url(../img/case_studies/case_studies_11.png);
							}
						}
						&:nth-child(3) {
							.single_post_item {
								background-image: url(../img/case_studies/case_studies_12.png);
							}
						}
						&:nth-child(4) {
							.single_post_item {
								background-image: url(../img/case_studies/case_studies_13.png);
							}
						}
					}
				}
			}
		}
	}
}
