.team_aria {
    padding-bottom: 110px;
}

.team_members {
    margin-top: 45px;
    .single_item {
        .content {
            margin-top: 20px;
            h4 {
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                color: $heading_color;
            }
            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #7C789D;
            }
        }
    }
}

// About
.team_aria.about {
    padding-top: 120px;
    padding-bottom: 70px;
    position: relative;
    
    .one {
        left: 0;
        top: 95px;
    }
}

// Team Section
.team_aria.about.team {
    background: #F9F8FF;
    margin-bottom: -282px;
    padding-bottom: 285px;
}

.team_aria.team {
    padding-top: 120px;
}

// Team Details Section 
.team_details_aria{
    padding-top: 120px;
}

.people_info_aria {
    display: flex;
    align-items: center;
    .people_info {
        margin-left: 50px;
    }
    h5 {
        font-weight: 700;
        font-size: 36px;
        color: #181B31;
        line-height: 1;
        margin-bottom: 20px;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
        color: #353956;
    }
    .social_aria {
        margin-top: 40px;
        a {
            background: #EBEBEB;
            width: 48px;
            height: 48px;
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
            i {
                color: #6E6E6E;
            }
            &:hover {
                background: $brand_color;
                i {
                    color: $white;
                }
            }
        }
    }
}

.people_dis_aria {
    margin-top: 50px;
    h5 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1;
        color: #181B31;
        margin-bottom: 20px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #7C789D;
    }
}

//Lead Generation Page
.team_aria.about.l_gen {
    padding-top: 0;
    position: relative;
    .one_ov {
        right: 0;
        bottom: -125px;
        width: 10%;
    }
}