.testimonial_grid {
    padding-top: 120px;
    overflow: hidden;
    .single_item {
        .testimonial_content {
            p {
                font-weight: 700;
                font-size: 30px;
                line-height: 42px;
                color: #232D3E;
                margin-top: 15px;
            }
        }
        .aurthor_info {
            display: flex;
            align-items: center;
            margin-top: 50px;
            .min_content {
                margin-left: 22px;
                h5 {
                    font-weight: 700;
                    font-size: 20px;
                    color: #232F3F;
                }
                p {
                    margin: 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #7C789D;
                }
            }
        }
    }
}

// Testimonial Section
.testimonial_grid.testimonial {
    padding-bottom: 110px;
    .grid_items_aria {
        margin-top: 40px;
    }
}