.testimonial_aria {
    background-image: url(../img/testimonial_bg.png);
    padding: 120px 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.slider_aria {
    width: 140%;
    position: relative;
    button {
        position: absolute;
        width: 57px;
        height: 57px;
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -100px;
        right: 430px;
        transition: .3s;
        &.slick-prev {
            right: 520px;
        }
        &:hover {
            background: $white;
            color: $brand_color;
        }
    }
    .slider_item {
        background: $white;
        padding: 35px 30px;
        border-radius: 10px;
        padding-bottom: 15px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-image: url(../img/icon/testimonial_icon.png);
            top: 40px;
            left: 80%;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
        .aurthor_info {
            display: flex;
            align-items: center;
            img {
                margin-right: 15px;
            }
            h6 {
                color: $heading_color;
                font-weight: 700;
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 0;
                span {
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    color: #7C789D;
                    margin-top: -6px;
                }
            }
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #7C789D;
            margin-top: 20px;
        }
    }
}

// Home Two
.testimonial_aria.home_2 {
    background-image: none;
    background: linear-gradient(90deg, #6F56F4 17.5%, #D07FCF 100%);
}

// Slick Nasting
.slick-slide {
	margin: 0 20px;
}
/* the parent */
.slick-list {
	margin: 0 -20px;
}