/** @format */

//* Common Color *//
$white: #fff;
$black: #000;
$gry: #666666;

// Theme Color

$brand_color: #fe4c1c;
$secondary_color: #ff5f5f;
$heading_color: #3b3664;

// Font
$font_style_1: 'Nunito', sans-serif;

// Placeholder Mixins

@mixin placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}
