.video_aria {
    background-image: url(../img/video_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
    .subscribe_aria {
       .items {
           background: transparent;
           .section_title {
               margin-top: 20px;
               p {
                margin-bottom: 60px;
               }
           }
       }
    }
}

.video_bg {
    width: 870px;
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(../img/video.png);
    margin-top: -155px;
    position: relative;
    a {
        margin-left: 0;
    }
}